<% if logged_in? %>
<script id="bootstrap-current-user" type="text/javascript">
	window.currentUser = <%= render("api/users/user.json.jbuilder",
		user: current_user).html_safe%>
</script>
<% end %>

<script>
	window.images = {
		splash: "<%= asset_path('splash.jpg') %>",
		longLogo: "<%= asset_path('long-logo.svg') %>",
		iconWhite: "<%= asset_path('icon-white.svg') %>",
		harmonyBlack: "<%= asset_path('harmony-black.svg') %>",
		iconBlack: "<%= asset_path('icon-black.svg') %>",
		dropdownArrow: "<%= asset_path('dropdown-arrow.svg') %>",
		twitter: "<%= asset_path('twitter.svg') %>",
		facebook: "<%= asset_path('facebook.svg') %>",
		instagram: "<%= asset_path('instagram.svg') %>",
		submitArrow: "<%= asset_path('submit-arrow.svg') %>",
		footer: "<%=asset_path('footer.svg')%>",
		block: "<%=asset_path('block.svg')%>",
		bomb: "<%=asset_path('bomb.svg')%>",
		cartridge: "<%=asset_path('cartridge.svg')%>",
		circle: "<%=asset_path('circle.svg')%>",
		coin: "<%=asset_path('coin.svg')%>",
		disc: "<%=asset_path('disc.svg')%>",
		dot: "<%=asset_path('dot.svg')%>",
		droid: "<%=asset_path('droid.svg')%>",
		gamepad: "<%=asset_path('gamepad.svg')%>",
		headphones: "<%=asset_path('headphones.svg')%>",
		iphone: "<%=asset_path('iphone.svg')%>",
		laptop: "<%=asset_path('laptop.svg')%>",
		monitor: "<%=asset_path('monitor.svg')%>",
		potion: "<%=asset_path('potion.svg')%>",
		separator: "<%=asset_path('separator.svg')%>",
		square: "<%=asset_path('square.svg')%>",
		triangle: "<%=asset_path('triangle.svg')%>",
		xIcon: "<%=asset_path('x-icon.svg')%>",
		authSplash: "<%= asset_path('auth-splash.jpg')%>",
		addUser: "<%= asset_path('add-user.svg')%>",
		atSymbol: "<%= asset_path('at-symbol.svg')%>",
		bell: "<%= asset_path('bell.svg')%>",
		download: "<%= asset_path('download.svg')%>",
		dropdownArrowGray: "<%= asset_path('dropdown-arrow-gray.svg')%>",
		exitX: "<%= asset_path('exit-x.svg')%>",
		gear: "<%= asset_path('gear.svg')%>",
		hashTag: "<%= asset_path('hash-tag.svg')%>",
		headphonesAudio: "<%= asset_path('headphones-audio.svg')%>",
		mute: "<%= asset_path('mute.svg')%>",
		pin: "<%= asset_path('pin.svg')%>",
		plus: "<%= asset_path('plus.svg')%>",
		plusTransparant: "<%= asset_path('plus-transparant.svg')%>",
		search: "<%= asset_path('search.svg')%>",
		sound: "<%= asset_path('sound.svg')%>",
		users: "<%= asset_path('users.svg')%>",
		defaultProfile: "<%= asset_path('default-profile.png')%>"
	};
</script>
<main id="root">React is Broken</main>
