<% if logged_in? %>
<script id="bootstrap-current-user" type="text/javascript">
	window.currentUser = <%= render("api/users/user.json.jbuilder",
		user: current_user).html_safe%>
</script>
<% end %>

<main id="root">React is Broken</main>

<script>
	window.images = {
		harmonyBlack: "<%= asset_path('harmony-black.svg') %>",
		iconBlack: "<%= asset_path('icon-black.svg') %>",
		iconWhite: "<%= asset_path('icon-white.svg') %>",
		dropdownArrow: "<%= asset_path('dropdown-arrow.svg') %>",
		facebook: "<%= asset_path('facebook.svg') %>",
		instagram: "<%= asset_path('instagram.svg') %>",
		splash: "<%= asset_path('splash.jpg') %>",
		twitter: "<%= asset_path('twitter.svg') %>"
	};
</script>
